.venv/
.venv311/
venv/

__pycache__/
*.pyc

data/images/
data/raw_images/

results/vision_infer_healthy/
results/vision_infer_unhealthy/

results/vision_errors_FN/
results/vision_errors_FP/

logs/

*.pth
*.pt
*.pkl
*.joblib

=*
*.swp
*.save